/* begin basic style changes to entire page */
html{
    font-size: 100%;
}

body{
    font-family:  "Poiret One", Tahoma, sans-serif;
    font-size: 1rem;
}

a{
    color: black;
    text-decoration: none;
}

a#email{
    color: goldenrod;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

hr{
    border: 1px solid goldenrod;
    width: 50%;
}

hr#footer{
    width: 100%;
}

/* begin nav portion */
li{
    margin: auto;
    /* padding: 20px; */
}

li.first{
    margin-left: 5%;
}

li.last{
    margin-right: 5%;
}

ul.name{
    background: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 2.5rem;
    list-style-type: none;
    margin: auto;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

ul.nav{
    background: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

ul#player{
    position: static;
}

/* begin main page layout */
div.outer{
    margin: auto;
    text-align: center;
    width: 90%;
}

/* used for each screengrab / pic */
div.child{
    flex-basis: 33%;
    margin: auto;
    padding: 10 0 10 0;
    text-align: center;
    width: 1%;
}

/* reel, feature film, music videos, etc. */
div.heading{
    display: block;
    font-size: 4rem;
    margin: auto;
    margin-top: 100px;
    width: 100%;
}

/* holds the content for each main category: bio, reel, feature film, music video, doc */
div.parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* use for artist/director name, title of video, runtime, etc. */
div.subheading{
    display: flex;
    flex-basis: 100%;
    font-size: 2rem;
    margin: auto;
    padding-top: 50px;
}

img{
    width: 30vw;
    margin: 0;
    padding: 0;
    border: 0;
}

img.festival{
    width: 10vw;
    margin: 5px;
}

div#bio{
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    /* height: 100vh; */
    margin-top: 48vh;
    text-align: justify;
    width: 66%;
}

div#reel{
    /* margin-top: 100vh; */
}

div.player{
    margin: 0;
    padding: 0;
}