<html>

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <title>MARCIN SZOCINSKI</title>
</head>

<body>

    <!-- main container div to handle page margins and stuff -->
    <div class="outer">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>